.form-container {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  max-width: 500px;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.loading {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.checkbox-field {
  margin-bottom: 15px;
}
