<div class="container">
  <h2>Entries</h2>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="date-column"
        >
          Date
        </th>
        <td mat-cell *matCellDef="let entry" class="date-column">
          {{ entry.date | date : "MMM d, y" }}
        </td>
      </ng-container>

      <!-- Dynamic Account Columns -->
      <ng-container
        *ngFor="let account of accounts"
        [matColumnDef]="account.toString()"
      >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ account.name }} ({{ getAccountCategory(account.categoryId) }})
        </th>
        <td mat-cell *matCellDef="let entry">
          {{ getAccountBalance(entry, account.id!) | currency }}
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="actions-column">
          Actions
        </th>
        <td mat-cell *matCellDef="let entry" class="actions-column">
          <button
            mat-icon-button
            color="primary"
            (click)="openUpdateDialog(entry)"
            matTooltip="Edit entry"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="openDeleteDialog(entry)"
            matTooltip="Delete entry"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="totalEntries"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      (page)="loadEntries($event)"
      aria-label="Select page"
    ></mat-paginator>
  </div>
</div>
