<div class="container">
  <h2>Entries</h2>
  <div class="entries-table-container">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let entry">{{ entry.date | date }}</td>
      </ng-container>

      <!-- Dynamic Account Columns -->
      <ng-container *ngFor="let account of accounts" [matColumnDef]="account">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ account }}</th>
        <td mat-cell *matCellDef="let entry">
          {{ entry[account] | currency }}
        </td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="totalEntries"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      (page)="loadEntries($event)"
      aria-label="Select page"
    ></mat-paginator>
  </div>
</div>
