<mat-toolbar color="primary" class="navbar">
  <a routerLink=""><span class="logo">VectorCash</span></a>
  <span class="spacer"></span>
  <a
    mat-button
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
  >
  <a
    mat-button
    routerLink="dashboard"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Dashboard</a
  >
  <a
    mat-button
    routerLink="settings"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Settings</a
  >
</mat-toolbar>

<router-outlet></router-outlet>

<footer>
  <p>&copy; 2025 VectorCash. All rights reserved.</p>
</footer>
